# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
next-env.d.ts
out/
.docs/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Misc
*.tgz
.cache/

.local/
.sixb/
.tsbuild/
apps/docs/src/generated/
apps/docs/public/

# Vercel
.vercel/
.vercel
.env*
